.addresses-container {
    width: 100%;
    font-size: 15px;
    display: table;
}

.company_address,
.partner_address {
    display: table-cell;
    width: 49%;
    color: #444;
}

.address-title {
    font-size: 20px;
    text-shadow: 1px 2px #ccc;
}

.company-vat,
.partner-vat {
    vertical-align: middle;
    margin-bottom: -9px;
    padding-bottom: 10px;
}

.addresses-container h4 {
    font-size: 20px;
    text-shadow: 1px 2px #ccc;
    color: black;
}

.o_report_layout_standard .address {
    display: none
}

.invoice-invoice_sequence_number_next {
    width: 100%;
    display: table;
    vertical-align: middle;
}

.invoice-invoice_sequence_number_next h2 {
    font-size: 20px;
    font-weight: bold;
    display: table;
    width: 100%;
}
.invoice-invoice_sequence_number_next h2 img{
    width: 110px;
}
.invoice-invoice_sequence_number_next h2 div{
    display: table-cell;
    width: 50%;
}

.invoice-qr {
    width: 100px;
    display: table-cell;
    text-align: right;
}

.page .invoice-qr {
    display: table-cell;
}

.adresses-company-partner {
    /* padding-top: 125px;*/
}

.o_background_footer ul li {
    color: #666!important;
}

.o_standard_footer {
    margin-top: 20px!important;
    border-top: 1px solid #ccc!important;
    color: #555!important;
    padding-top: 6px!important;
    font-size: 15px!important;
}
#informations
{
    margin-top: 30px !important;
}
.partner_address
{
    padding-left: 24px;
}
img.qr-image:eq(0)
{
    display: block!important;
}
.mb0 > div:first-child span:first-child
{
 font-weight: bold;
}
.qr-and-name
{
    margin-top: -36px;
}