.guide-block
{
    display: block;
    padding: 5px;
    width: 100%;
}
.guide-block h3.guide-block-title
{
    font-size: 23px;
    font-weight: bold; 
}

.guide-block .gui-table
{
    display: table;
    width: 100%;
}
.guide-block .gui-table h3
{
    margin-top: 10px;
}
.guide-block .gui-table-row
{
    display: table-row;
    width: 100%;
}
.guide-block .gui-table-row .gui-table-cell
{
    display: table-cell;
    width: 50%;
}
.gui-table table
{
    margin-top: 0px!important;
    padding-top: 0px!important;
}
.gui-table-cell label
{
    color: black;
    width: 100%!important;
}
.gui-table-cell  span,.gui-table table span
{
    color: #333;
}
.guide-header .gui-table-cell h3,.guide-header .gui-table-cell h3 span
{
    font-weight: bold;
    color: black!important;
}
.qr-container img
{
    max-width: 100px;
}
.guide-header .gui-table-cell h3.guide-sequence span
{
    color:#666!important;
}